@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

.thread-content {
  padding: 2rem;

  &__title {
    font-size: 1.25rem;
    color: $primary-color;
    margin-bottom: 1rem;
  }

  &__body {
    p {
      margin-bottom: 1rem;
    }
    ul {
      padding-left: 2rem;
      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}
